/* 
// App Stylesheet
// --------------
*/

// Import Bootstrap
//@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "./navbar.less";
@import "./gallery.less";
@import "./thumbnail.less";
@import "./painting.less";
@import "./page.less";

@-ms-viewport{
  width: device-width;
}

// Give the navigation some padding
.nav {
	margin: 10px 0;
	
	// Style the active links
	a.active {
		font-weight: bold;
		color: red;
	}
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

@font-face {
	font-family: 'QuicksandLight';
	src: url('/fonts/Quicksand_Light-webfont.eot');
	src: local('âº'), url('/fonts/Quicksand_Light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*.null
{
	/*#221E1A;/*dark*/
	/*#EEE;/*bright*/
	/*#96D4C6;/*titles*/
	/*#0ABFBC;/*hover*/
/*}*/
/****************************\
|        MAIN STYLES         |
\****************************/
html, body 
{
	background-color:#0F0F0F;
	color:#eeeeee;
	background-attachment:fixed;
	font:14px 'QuicksandLight', lighter Calibri, Sans-Serif;
	margin:0px;
	padding:0px;
	height:100%;
	min-height:100%;
}

a:link, a:visited
{
	text-decoration:none;
	color:#96D4C6;/*titles*/
}

a:hover, a:hover 
{
	text-decoration:none;
	color:#74A19B;/*hover*/
}

blockquote {
	padding: 0 15px;
	color: #cccccc;
	border-left: 4px solid #ddd;
}

hr {
	height: 4px;
	padding: 0;
	margin: 16px 0;
	background-color: #e7e7e7;
	border: 0 none;
}